[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "optimLanduse"]
	path = optimLanduse
	url = https://github.com/forest-economics-goettingen/optimlanduse
[submodule "woodValuationDE"]
	path = woodValuationDE
	url = https://github.com/forest-economics-goettingen/woodvaluationde
